<div class="col s3 col-1 emp-card">
    <div class="col s12">
        <div class="card off-white-bg">
            <div class="profile-pic"></div>
            <div class="card-content">
                <span class="card-title name">John Smith</span>
                <div class="manager-badge">Manager</div>
            </div>
            <div class="card-action">
				<button class = "btn modal-trigger" data-target = "addShift" id = "btnAddShift">Add Shift</button>
                <button class = "btn modal-trigger" data-target = "addEmployee" id = "btnAddEmployee">Add Employee</button>
            </div>
        </div>
    </div>
</div>