<div class="row">
    <nav>
        <div class="nav-wrapper">
            <a href="/dashboard" class="brand-logo"><img alt = "ClockdIn" src ="/assets/images/ClockdInLogo@0.75x.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="logout" class="waves-effect waves-light btn">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>