<h1> THIS IS A WEBPAGE </h1>
<form action="/auth/signup" method = "POST">
	<input type="text" name="email">
	<input type="text" name="firstname">
	<input type="text" name="lastname">
	<input type="password" name="password">
	<button type = "submit"> Sign Up</button>
</form>
