<div id="splash-bg">
    <div id="splash-container">
        <h1>Welcome To Clockd In</h1>
        <button data-target="modal1" class="waves-effect waves-light btn modal-trigger">Login</button>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer login-modal">
            <div class="modal-content">
                <h4>Login</h4>
                <p>Inputs will go here</p>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Login</a>
            </div>
        </div>

    </div>
</div>